.container__general {
  background: linear-gradient(
    180deg,
    rgba(66, 103, 103, 1) 0%,
    rgba(30, 42, 42, 1) 100%
  );
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
