.button__cart {
  width: fit-content;
  background-color: brown;
  margin: auto;
  padding: 1rem;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 5px 5px grey;
}

.decrease {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1px 6px;
}

.increase {
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 1px 6px;
}

.count {
  font-size: 2rem;
  padding: 10px;
}

.addCartButton {
  font-size: 2rem;
  border-radius: 5px;
  margin-top: 1rem;
  padding: 0.5rem;
}
