.fondo {
  background: linear-gradient(
    0deg,
    rgba(217, 194, 171, 1) 0%,
    rgba(225, 217, 212, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  align-items: flex-start;
}

.fondo img {
  height: 100vh;
  width: auto;
}

.fondo h1 {
  position: absolute;
  margin-top: 60px;
  text-shadow: #2f585d 6px 3px 4px;
  border-radius: 7px;
  color: #e7af70;
  font-size: 3rem;
  font-style: italic;
  font-size: 4rem;
}
