.pokemon {
  height: auto;
  display: inline-block;
}

.pokemon img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pokemon p {
  margin-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
}
